body{background-color: #bdb99a; max-width: 1023px; margin: 0 auto;}
.container{background-color: #d4d0b0;}
.navbar{background-color: #aca88e;}
footer{background-color: #2e2d26; color: #d4d0b0; text-align: center; padding: 10px;}